<link href="/~/media/data-visualizations/interactives/2016/taxburdens/assets/main.css" rel="stylesheet" type="text/css">
<div class="interactive-outer">
  <div class="interactive-inner">
    <div class="container"></div>
    <div id="container"></div>
  </div>
  <script src="/~/media/data-visualizations/interactives/frameworks/jQuery/jquery2003.js"></script>
  <script src="/~/media/data-visualizations/interactives/frameworks/Highmaps/js/highmaps.js"></script>
  <script src="/~/media/data-visualizations/interactives/frameworks/Highmaps/js/modules/data.js"></script>
  <script src="/~/media/data-visualizations/interactives/frameworks/taffydb-master/taffy-min.js"></script>
  <script src="/~/media/data-visualizations/interactives/2016/taxburdens/assets/main.js"></script>
</div>
