/*
 SEVER FONTS*/
@font-face {
  font-family: "MuseoSlab 500";
  src: url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_500Webeot.eot);
  src: url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_500Webeot.eot?#iefix) format("embedded-opentype"), url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_500Webwoff.woff) format("woff"), url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_500.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSlab 300";
  src: url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_300Webeot.eot);
  src: url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_300Webeot.eot?#iefix) format("embedded-opentype"), url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_300Webwoff.woff) format("woff"), url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_300.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* Tungsten Font Family */
@font-face {
  font-family: 'Tungsten Cond A', 'Tungsten Cond B';
  font-weight: 500;
  font-style: normal;
}
/*'Whitney SSm A', 'Whitney SSm B'  Font Family */
@font-face {
  font-family: 'Whitney SSm A', 'Whitney SSm B';
}
@font-face {
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Whitney SSm A', 'Whitney SSm B';
  font-weight: 300;
  font-style: normal;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: 700;
}
i + i,
i + em,
i + strong,
i + b,
em + i,
em + em,
em + strong,
em + b,
strong + i,
strong + em,
strong + strong,
strong + b,
b + i,
b + em,
b + strong,
b + b {
  font-style: italic;
  font-weight: 700;
}
.interactive-outer {
  width: 100%;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Calibri, "Helvetica Neue", HelveticaNeue, Arial, Helvetica, Roboto, sans-serif;
  font-size: 10px;
  font-weight: 300;
}
.interactive-outer .interactive-inner {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-size: 1em;
  float: left;
}
.interactive-outer .interactive-inner *,
.interactive-outer .interactive-inner ::before,
.interactive-outer .interactive-inner ::after {
  box-sizing: border-box;
}
.interactive-outer pre.rawdata {
  display: none;
}
