
/*
 SEVER FONTS*/
@font-face {
    font-family: "MuseoSlab 500";
    src: url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_500Webeot.eot);
    src: url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_500Webeot.eot?#iefix) format("embedded-opentype"),url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_500Webwoff.woff) format("woff"),url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_500.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSlab 300";
    src: url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_300Webeot.eot);
    src: url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_300Webeot.eot?#iefix) format("embedded-opentype"),url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_300Webwoff.woff) format("woff"),url(/~/media/data-visualizations/interactives/assets/fonts/Museo_Slab_300.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* Tungsten Font Family */
@font-face {
    font-family: 'Tungsten Cond A','Tungsten Cond B';
    font-weight: 500;
    font-style: normal;
}

/*'Whitney SSm A', 'Whitney SSm B'  Font Family */
@font-face {
    font-family: 'Whitney SSm A','Whitney SSm B';
}

@font-face {
    font-family: 'Whitney SSm A','Whitney SSm B';
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney SSm A','Whitney SSm B';
    font-weight: 300;
    font-style: normal;
}

@DINStack:					Din, sans-serif;
@DINCondensedStack:			DinCondensed, sans-serif;
@DINRoundedStack:			DinRounded, sans-serif;
@MuseoStack:				"MuseoSlab 500","MuseoSlab_500", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
@MuseoStack300:				"MuseoSlab 300","MuseoSlab_300", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
@TungstenStack:				'Tungsten Cond A', 'Tungsten Cond B', Tungsten, "Yanone Kaffeesatz", "Arial Narrow", serif;
@WhitneyStack:				'Whitney SSm A', 'Whitney SSm B', Calibri, "Helvetica Neue", HelveticaNeue, Arial, Helvetica, Roboto, sans-serif;

em, i {
	font-style: italic;
}

strong, b {
	font-weight: 700;
}

i, em, strong, b {
	& + & {
		font-style: italic;
		font-weight: 700;
	}
}
