@import () "fonts.less";
@year: '2016';
@proj: 'chart001';
@url_base: '/~/media/data-visualizations/interactives/@{year}/@{proj}/assets/';
@img_base: '@{url_base}img/';


@white: #fff;
@black: #000;
@linegrey: #CCC;
@textgray: #98999a;
@textdarkgrey: #616161;
@textlight: #F9F9F9;
@slate :#565656;
.interactive-outer {
    width: 100%;
    font-family: @WhitneyStack;
    font-size: 10px;
    font-weight: 300;
    .interactive-inner {
        background-color: @white;
        width: 100%;
        margin: 0 auto;
        position: relative;
        font-size: 1em;
        float: left;
        *,
        ::before,
        ::after {
            box-sizing: border-box;
        }
    }
    pre.rawdata {
        display: none;
    }
}
