link href="/~/media/data-visualizations/interactives/2016/taxburdens/assets/main.css"  rel="stylesheet" type="text/css"
.interactive-outer
	.interactive-inner
		.container
		#container

	
	script src="/~/media/data-visualizations/interactives/frameworks/jQuery/jquery2003.js"
	script src="/~/media/data-visualizations/interactives/frameworks/Highmaps/js/highmaps.js"
	script src="/~/media/data-visualizations/interactives/frameworks/Highmaps/js/modules/data.js"
	script src="/~/media/data-visualizations/interactives/frameworks/taffydb-master/taffy-min.js"
	script src="/~/media/data-visualizations/interactives/2016/taxburdens/assets/main.js"
